<div class="container">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>
  <div id="Customize">

    <div id= "logo">
      <%=image_tag "quora.png",:size => "80x50"%>
    </div>
    <div id="search">
<textarea id="textarea" class="selector_input text" type="text" placeholder="Ask or Search Quora">
</textarea>
      <div id="question"><a>Ask Question</a></div>

    </div>

    <div id="Right">

      <div id="navbar" class="collapse navbar-collapse">

        <ul class="nav navbar-nav">
          <li>
            <a id="read_content" href="index" role="button" aria-haspopup="true" aria-expanded="false">
              <div id="logo_read"></div>
              <div id = "read">Read</div></a>
          </li>
          <li>
            <a id="answer_content" href="answer_question" role="button" aria-haspopup="true" aria-expanded="false">
              <div id="logo_answer"></div>
              <div id="answer">Answer</div>
            </a>
          </li>
          <li>
            <a id="notification_content" href="#" role="button" aria-haspopup="true" aria-expanded="false">
              <div id="logo_notification"></div>
              <div id="notification">  Notification</div>
            </a>
          </li>
          <li class="dropdown">
            <a id="current_user" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <div id="profile_pic"></div>
              <div id="username"><%=@user.username%></div>

            </a>
            <ul class="dropdown-menu">
              <li>
                <div id="user-widget">
                  <strong><%= current_user.username %></strong>
                  <%= link_to "Sign out", signout_path, id: "sign_out" %>
                  </br>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>