<div id="user_written_question">
  <h3> Top stories for you</h3>
  <%@questions_all = Question.all%>
  <% @questions_interested.each do |question|%>
    <%@questions_all.each do |quest| %>
      <%if quest.id == question %>
             <%= quest.body%>
          <% end %>
      <%end%>
  <% end %>

</div>