<div id="user_written_question">
  <h3> Top stories for you</h3>
  <% @questions.each do |question|%>
      <%= question.body%>
      </br>

      <%if question.answers %>
          <% question.answers.each do |answer|%>
              <%= answer.body%>
          <%end%>
      <%end%>
      </br>
  <% end %>

</div>