<html>
<head>
  <%= stylesheet_link_tag  'user', media: 'all', 'data-turbolinks-track' => true %>
</head>
<body>
<%= render 'partial/quora_header'%>
<section id="section_answer">
  <div id="question_feed">
    <div id="question_content"><h3>Questions</h3></div>
    <div id="question_feed_lists">
      <li>Questions for you</li>
      <li>Answer Requests</li>
      <li>Answer Later</li>
      <li>Drafts</li>
    </div>
  </div>
  <div id="Top_questions">
   <div id="background_star_logo"></div>
    <div id="question_topic_interest_dynamic_code"><h3>Top questions for you Drop</h3></div>
  </div>
</section>
</body>
</html>