/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *require_tree .
 *=require bootstrap
 *require_self
 */





{
	padding:0;
	margin:0;
}
section{
	padding-top: 50px;
    padding-left: 24px;
    padding-right: 50px;
    width: 50%;
    display: flex;
    justify-content: space-between;
    }

    #user_interest_topics{
    width: 142px;
    float: left;
    min-height: 1px;
    margin-left: 30px;
    clear: left;
    font-size: 13px;
    font-weight: 400;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    border: 1px grey solid;
    }
 .container{
 	word-wrap: break-word;
 	    border-top: 2px solid #b92b27;
    border-bottom: 1px solid #ddd;
    box-shadow: 0 3px 2px -2px rgba(200,200,200,0.2);
 	background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 50px;
    z-index: 800;
 	    backface-visibility: hidden;
 color: #fff;
     display: flex;
     justify-content: space-around;
 }
 #Customize{
 	display: flex;
 	justify-content:space-around;

 }
 #search{
 	display: flex;
 	justify-content:space-between;
 	padding-top: 10px;
 	transition: border-color,height,background-color .2s;
 	height:40px;
 	width:450px;

 }
  #textarea {
 	list-style: none;
 	border-radius: 2px;
 	background-color: #f4f4f4;
 	height: 29px;
     width:100%;
 }
 #logo{
     padding-left: 0px;
     padding-right: 13px;
 }
 #question{
      box-sizing: border-box;
    transition: opacity ease-in-out 100ms,color ease-in-out 100ms,background-color ease-in-out 100ms,border-color ease-in-out 100ms;
    border-radius: 3px;
    box-shadow: 0 1px 1px 0 rgba(200,200,200,0.2);
    display: inline-block;
    font-weight: 500;
    outline: 0;
    padding: 3px 7px 4px 7px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    background: #fff;
    color: #585a61;
    border: 1px solid #ced1e1;
    font-size: 13px;
    line-height: normal;
    margin: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
     width: 26%;
 }
 #read_content{
     display: flex;
 }


 #logo_read{
     background-size: 20px 40px;
     background-image: url(//qsf.ec.quoracdn.net/-3-images.feed2.svg-26-27d3066097b99f1c.svg);
     top: 15px;
     left: 12px;
     width: 20px;
     height: 20px;
     background-size: 20px 40px;
     margin-top: 0px;
     padding-right: 0px;
     margin-right: 8px;
 }
 #answer_content{
     display: flex;
 }
 #logo_answer{
     top: 13px;
     left: 11px;
     width: 25px;
     height: 23px;
     margin-top: 0px;
     padding-right: 0px;
     margin-right: 8px;
     margin-left:0px;
     background-size: 25px 46px;
     background-image: url(//qsf.ec.quoracdn.net/-3-images.write2.svg-26-7366484acc883b48.svg);
 }
  #notification{

      color: #999;
  }
#answer{
    color:#999;
}
#read{
    color: #999;
}
 #notification_content{
     display: flex;
 }
 #logo_notification{
     top: 15px;
     left: 10px;
     width: 21px;
     height: 21px;
     background-size: 21px 42px;
     background-image: url(//qsf.ec.quoracdn.net/-3-images.notifs2.svg-26-b35ae412f08c6f34.svg);
 }